version: "3.9"

services:
  frontend:
    build:
      context: ./frontend/final-shop  # carpeta donde está tu proyecto Vue
      dockerfile: Dockerfile
    ports:
      - "5173:80"           # Vite usa 5173 en dev, Nginx servirá en 80 → expuesto en 5173
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./backend    # carpeta donde está tu proyecto Node/Express
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_NAME=central
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=central
      - MYSQL_USER=root
      - MYSQL_PASSWORD=password
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
